@{
    ViewBag.Title = "menu";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="~/page1/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="~/page1/css/stylish-portfolio.css" rel="stylesheet">
    <link href="~/page1/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

   

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1 style="color:white">Admin Panel</h1>
            
          
            <a href="/Admin/DeleteId" class="btn btn-submit btn-lg" style="width:200px;background-color:green">Delete Applications</a> 
             <a href="/Admin/GetId" class="btn btn-submit btn-lg" style="width:200px;background-color:green">View Application</a>
            
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

  
   
    

   

   
   

    <!-- JavaScript -->
    <script src="~/page1/js/jquery-1.10.2.js"></script>
    <script src="~/page1/js/bootstrap.js"></script>

    
    

</body>

</html>
