@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <br /><br />
                     <p style ="font-size:20px"><b style ="font-size:40px">Email : </b> seharnaqvi93.com</p>
                   
                     <p style ="font-size:20px"><b style ="font-size:40px">Phone# : </b>0900-78601</p>
                    
                    <p style ="font-size:20px"><b style ="font-size:40px">fax : </b>111-111-111 </p>
