@{
    ViewBag.Title = "Merits";
}


<style>
    body
    {
        background-color:yellow;
    }
</style>
<div class="row">
<div class="col-md-6">

<h2>Merit</h2>
<p>Recent merits are as follows:</p>
<table border="1" style="height:30px;width:150px">
    <tr style ="height:30px;width:300px">
    <td style ="height:30px;width:800px" >
        year
    </td>
    <td  style ="height:30px;width:800px">
        merit score
    </td>
   </tr>
    <tr style="height:30px;width:800px">
        <td>
            2012
        </td>
        <td>
            71.6%
        </td>
    </tr>
    <tr  style="height:30px;width:800px">
        <td>
            2011
        </td>
        <td>
            70.3%
        </td>
        </tr>
        <tr style="height:30px;width:800px">
        <td>
            2010
        </td>
        <td>
            73.5%
        </td>
            </tr>
      <tr style="height:30px;width:800px">
        <td>
            2009
        </td>
        <td>
            77.5%
        </td>
    </tr>


    

    


</table>
    </div>
    </div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />