@model MvcApplication1.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rollNo</title>
</head>
<body>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <p>Name:@Model.Name<br />
            FatherName:@Model.FatherName<br />
    Roll NO  : @ViewBag.rol
        </p>
        
    </div>
</body>
</html>
