@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewslip</title>
</head>
<body>
    <div>
        <form action="/Student/rollNo" method="get">
            <input type="submit" value="view" />
        </form>
        
    </div>
</body>
</html>
